body {
  
    font-family: 'Prompt', Titan One;
    color: white;
    background-color: #000000;
    background-repeat: no-repeat;
    text-shadow: 0 0 2px #000000, 0 0 2px #000000;
    justify-content: center;
    margin: 0px;
}
.p1 {
    font-size: 15px;
}

h1 {
    font-size: 80px;
}
.main-wrapper{
    display: flex;
    width: 100%;
    overflow: hidden;
    /* justify-content: center; */
    /*flex-wrap: nowrap; */

}

.container-top {
    display: flex;
    position: relative;
    width: 100vw;
    height: 15vh;
    align-items: center;
    justify-content: center;
    background-color: aqua;
   
}

.leftrow {
    
    width: 20%;
    height: max-content;
   
}

.midrow{
    width: 60%;
    justify-content: center;
    background-color: #c6236700;
   
    
   

}

.rightrow {
    display: flex;
    width: 20%;
    min-width: 20%;
    height: 100%;
    overflow-y: auto;
}


.topmid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    background-color: rgba(198,35,104,100);
    margin: 0px;

    /*background: linear-gradient(217deg, rgba(76,78,133,100), rgba(198,35,104,100) 70.71%),
            linear-gradient(127deg, rgba(198,35,104,100), rgba(198,35,104,100) 70.71%),
            linear-gradient(336deg, rgba(76,78,133,100), rgba(198,35,104,100) 70.71%);*/
    background-repeat: no-repeat;

    
}


.topmidlogo {
    text-align: center;
    margin: auto;
    font-size: calc(4.5vh + 4.5vw);
    opacity: 50%; 
    z-index: 1;
    width: 100vw;

}


.topmidpicture {
    margin: auto;
    align-items: center;
    opacity: 50%;
    z-index: 0;
    overflow: hidden;
    height: auto;
}
.topmidpicture img {
    height: 25vh;
    width: auto;
}
.topmidbreadtext {
    text-align: center;
    font-size: calc(2.5vh + 2.5vw);
    top: -50%;
    width: 100%;
    margin-left: 10px;
    opacity: 50%;
}
.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    max-height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.waves {
    background-image: url('./waves.svg');
}
.waves-upsidedown {
    background-image: url('./waves.svg');
    transform: scaleX(-1);
}
.center {
    margin: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
.menutext {
    height: auto;
    width: 80vw;
    background-color:rgb(0, 0, 0);
    padding: 10px;
    opacity: 90%;
    margin: auto;
    text-align: center;
    word-spacing: 30px;
}

.menutext a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: calc(2vw + 2vh);
    transition: color 0.5s ease; 
    opacity: 50%;
    ;
}

a:hover {
    color: hotpink;
  }
.topmidtext {
    
    top: -1px;
    left: -20%;
    font-size: 12px;
    opacity: 50%;
}

.container {
    justify-items: center;
}
.container img {
    height: 100%;
    width: 100%;
}

.spaceraboutus {
    aspect-ratio: 768/200;
    width: 100%;
    max-height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0px;
    margin-bottom: -55px;
}
.waveaboutus {
    background-image: url('./waves.svg');
    transform: rotate(180deg);
    
}


.aboutus {
    height: auto;
    width: auto;
    background-color:rgba(198,35,104,100);
    font-size: large;
    letter-spacing: 2px;
}
.aboutus img {
    transform: rotate(180deg);
}
.aboutus-background {
    background-color:#0000007c
    
}



.subscribe-newsletter{
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background: linear-gradient(90deg, #2F4858, #314D71);
    background-size: fill;
    padding: 20px;
    width: auto;

    
} 
.game-container {
    display: flex;
    flex-wrap: wrap;

  
}
.ZMgameFrame {
    height: 480px;
    width: 800px;
    align-self: center;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #00ff00;
    padding: 3px;
  }